<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Monirtry"
        tools:targetApi="31">
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".timings"
            android:exported="false" />
        <activity
            android:name=".plan_selection"
            android:exported="false" />
        <activity
            android:name=".cart"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".providers"
            android:exported="false" />
        <activity
            android:name=".arrow"
            android:exported="false" />
        <activity
            android:name=".user_profile"
            android:exported="false" />
        <activity
            android:name=".provider_dashboard"
            android:exported="false" />
        <activity
            android:name=".Location_4"
            android:exported="false" />
        <activity
            android:name=".Pizza"
            android:exported="false" />
        <activity
            android:name=".Location_3"
            android:exported="false" />
        <activity
            android:name=".Location_2"
            android:exported="false" />
        <activity
            android:name=".Location_1"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".tiffin_provider" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".location"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".ServiceLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>